!!!
%html(lang="en")
	%head
		%title
			Nexus Brawl
		%link(href="/css/jqui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet")
		%link(href="/js/themes/metro/lightgray/jtable.min.css" rel="stylesheet")
		%link(rel="stylesheet" href="/css/main_styles.css?1")
		%meta(charset="utf-8")
		%script(src="/js/jquery-1.8.2.min.js")
		%script(src="/js/jquery.ba-bbq.min.js")
		%script(src="/js/jquery-ui-1.10.3.custom.min.js")
		%script(src="/js/jquery.jtable.min.js")
		%script(src="/js/ajaxprovider.js?3")
	%body
		.margin-10.padding-10(style="bottom:0px")
			%h1.ui-corner-top.ui-widget-header Nexus Brawl
			.ui-widget-content.padding-10#quicklinks
				!= Interface::Element.Quicklinks user
			.ui-corner-bottom.ui-widget-content.padding-10(style="bottom:0px")
				!= haml content if defined? content
		#popup_container.ui-helper-hidden(title="Notice")
		#dev_tools_container.ui-helper-hidden(title="Developer Tools")
		#switcher
		#ajax_error
		#loading_spinner.ui-helper-hidden
			.loading_spinner.ui-corner-all.ui-widget-overlay
				%p.text-centered(style="margin-top:50px")
					%span.ui-state-highlight.ui-corner-all
						%img(src="/img/loading.gif" alt="Spinner")
						Please Wait, Loading...
		#dynamicjs.ui-helper-hidden
