!!!
\<html lang="en">
%head
	%title
		Nexus Brawl
	%link(href="/css/jqui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet")
	%link(href="/js/themes/metro/lightgray/jtable.min.css" rel="stylesheet")
	%link(rel="stylesheet" href="/css/main_styles.css?1")
	%meta(charset="utf-8")
	%script(src="/js/jquery-1.8.2.min.js")
	%script(src="/js/jquery.ba-bbq.min.js")
	%script(src="/js/jquery-ui-1.10.3.custom.min.js")
	%script(src="/js/jquery.jtable.min.js")
	%script(src="/js/jquery.history.js")
	%script(src="/js/ajaxprovider.js?5")
	%script(src="/js/deworde.js")
\<body>